networks:
  gift.net:
    driver: bridge

services:
  mysql-db:
    image: mysql:8.0
    container_name: mysql
    restart: unless-stopped
    ports:
      - "8001:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - gift.net

  db-init:
    image: mysql:8.0
    depends_on:
      - mysql-db
    entrypoint: |
      sh -c "
        sleep 20 && \
        mysql -h mysql -u root -p${MYSQL_ROOT_PASSWORD} ${MYSQL_DATABASE} < /sql/gift.schema.sql && \
        mysql -h mysql -u root -p${MYSQL_ROOT_PASSWORD} ${MYSQL_DATABASE} < /sql/gift.data.sql
      "
    volumes:
      - ./src/db:/sql
    networks:
      - gift.net

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: unless-stopped
    ports:
      - "8003:80"
    environment:
      PMA_HOST: mysql
      PMA_USER: ${PMA_USER}
      PMA_PASSWORD: ${PMA_PASSWORD}
    depends_on:
      - mysql-db
    networks:
      - gift.net

  app:
    build:
      context: build
      dockerfile: 8.4-cli.Dockerfile
    ports:
      - "8002:80"
    volumes:
      - ./:/var/php
      - ./public/img:/var/php/public/img
    working_dir: /var/php
    networks:
      - gift.net
    depends_on:
      - mysql-db
    command: sh -c "composer install && php -S 0.0.0.0:80 -t /var/php/public"

volumes:
  mysql_data:
