{% extends "layout.twig" %}

{% block content %}

<h2>{{ coffret.libelle }}</h2>

<p>{{ coffret.description }}</p>
<ul>
    {% for p in prestations %}
        <li> {{ p.libelle }} - {{ p.description }} </li>
    {% else %}
        <li>Aucune prestation disponible.</li>
    {% endfor %}
</ul>
<style>
    h2 {
        color: #4A90E2;
        font-size: 2em;
        margin-bottom: 0.5em;
    }
    p {
        font-size: 1.1em;
        color: #333;
        margin-bottom: 1em;
    }
    ul {
        list-style-type: disc;
        padding-left: 2em;
    }
    li {
        margin-bottom: 0.5em;
        font-size: 1em;
        color: #222;
    }
</style>
{% endblock %}
