{% extends "layout.twig" %}

{% block content %}

<h1>Liste des catégories</h1>

<ul>
    {% for categorie in categories %}
        <li>
            <a href="/categories/{{ categorie.id }}">
                <strong>{{ categorie.libelle }}</strong>
            </a><br>
            <small>{{ categorie.description }}</small>
        </li>
    {% else %}
        <li>Aucune catégorie disponible.</li>
    {% endfor %}
</ul>
{% endblock %}